<tr>
    <td><%= hill.number %></td>
    <td><%= hill.name %></td>
    <td><%= hill.other_info %></td>
    <td><%= hill.origin %></td>
    <td><%= hill.chapter %></td>
    <td><%= hill.height %></td>
    <td><a href="<%=hill.map%>"><%= hill.grid_ref %></a></td>
    <td><%= link_to 'Show', hill %></td>
</tr>
