<h2>Import Ascents</h2>
<%= form_tag import_ascents_path, multipart: true do %>
<%= radio_button_tag(:category, "Munros") %>
<%= label_tag(:category_munros, "Munros") %>
<%= radio_button_tag(:category, "Munro Tops") %>
<%= label_tag(:category_munro_tops, "Munro Tops") %>
<%= radio_button_tag(:category, "Corbetts") %>
<%= label_tag(:category_corbetts, "Corbetts") %>
<%= radio_button_tag(:category, "Grahams") %>
<%= label_tag(:category_grahams, "Grahams") %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>
